body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    text-align: center;
}
#clock{
    font-size: 60px;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f0f0f0;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}